body {
    font-family: Helvetica, sans-serif;
    margin: 50px;
    text-align: justify;
    display: flexbox;
}

p {
    color: #313131;
}

.header ul li::first-letter {
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: space-between;
    padding: 20px 10px 25px 0px;

}

#profile{
    border-bottom: 3px solid #757575;
}

.profile {
    padding-left: 0px;
    padding-right: 50px;
    width: 100%;

}

.profile-container {
    display: flex;
    
}

.profile-element {
    padding: 25px 10px 25px 0px;
    width: 80%;
}

.profile-element2 {
    padding-left: 10px;

}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 5px;
}

.title {
    font-size: 20px;
    background-color: #FFD2AB;
    font-weight: bold;
    color: rgb(80, 80, 80);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;

}

#education{
    border-bottom: 3px solid #757575;
}

.education {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;

}

.education-container {
    display: flex;
}

.education-element {
    width: 50%;
    margin: 0px 20px 10px 0px;
}

.education-element2 {
    width: 50%;
    padding: 0px 25px 25px 0px;
}

.title2 {
    color: black;
}

#experience{
    border-bottom: 3px;
}

.experience {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;

}

.experience-container {
    display: flex;
}

.experience-element {
    width: 50%;
    margin: 0px 20px 10px 0px;
}

.experience-element2 {
    width: 50%;
    padding: 0px 25px 25px 0px;
}
.experience-container2 {
    display: flex;
    border-bottom: 3px solid #757575;
}

#skills{
    border-bottom: 3px solid #757575;
}

.skills {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;

}

.skills-container1 {
    display: inline;
    width: 50%;
}

.skills-element1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}

.skills-element2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.skills-element3 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 65px;
}

.skills-container2 {
    display: inline;
    border-left: #757575;
    width: 50%;
}

.skills-element4 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.skills-element5 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.skills-element6 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.barra {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    border-radius: 0px;
}

.fill {
    height: 100%;
    background-color: #000000;
    border-radius: 0px;
}


#projects{
    border-bottom: 3px;
}

.projects {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;

}

.projects-container {
    display: flex;
}

.projects-element {
    width: 50%;
    margin: 0px 20px 10px 0px;
}

.projects-element2 {
    width: 50%;
    padding: 0px 25px 25px 0px;
}
.projects-container2 {
    display: flex;
    border-bottom: 3px solid #757575;
}


#languages-certification {
    border-bottom: 3px solid #757575;
    display: flex;
}

#languages {
    width: 155%;
}

.languages-certification {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;

}

.languages-certification-container1 {
    display: inline;
    width: 100%;
    margin-right: 15px;
}

.languages-certification-element1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}

.languages-certification-element2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.languages-certification-element3 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.languages-certification-element4 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.languages-certification-element5 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}

.certification12 {
    padding-left: 15px;
    

}

.certification {
    width: 100%;
    border-left: 3px solid #757575;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -15px;
}

.languages-certification-container2 {
    width: 100%;
    padding-left: 30px;
    align-items: flex-start;
    display: flex;

}

.certification1 {
    width: 50%;
}

.certification2 {
    width: 50%;
    padding-left: 50px;
    padding-right: 40px;
}

.borde {
    padding-left: 30px;
    border-left: 3px solid #757575;
    margin-bottom: 20px;

}

#hobbies {
    width: 100%;
}

.hobbies-container ul{
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: space-between;
}

.icon {
    width: 50px; 
    height: 50px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #757575;

}

.hobbie {
    display: flex;
    justify-content: center;
}